@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

a.course-card-title {
  color: $black;
  font-family: "Jomolhari", $font-family-sans-serif;
  line-height: 1.5;
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: 0.3px;
  font-size: 25px;
  font-weight: 600;
}